.new-collections {
    padding: 20px;
  }
  
  .new-collections h1 {
    text-align: center;
    font-size: 24px;
  }
  
  .collections-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  @media (max-width: 1024px) {
    .collections-item {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 768px) {
    .collections-item{
        justify-content: space-around;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-right: 20px;
        padding-top: 30px;
        gap: 30px;
    }
  }
  
  @media (max-width: 500px) {
    .collections-item {
        justify-content: space-around;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 20px;
        padding-top: 30px;
        gap: 30px;
    }
  }
  

  