
/*-------Slider--------*/
.carousel
{
 
    margin-top: 4.5%;

}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5{
    color: #fff;
    font-size: 30px;
   font-weight: 700;
}
.forform-inline my-2 my-lg-0 {
    color: #000!important;
    border: #000!important; 
}
.carousel-inner img{
    height: 70%;
}
@media screen and (max-width: 1020px) {
    .carousel{
        margin-top: 5.5%;
    }
}
@media screen and (max-width: 800px) {
    .carousel{
        margin-top: 7%;
    }
}

@media screen and (max-width: 720px) {
    .carousel{
        margin-top: 8.3%;
    }
}

@media screen and (max-width: 600px) {
    .carousel{
        margin-top: 10%;
    }
}
@media screen and (max-width: 500px) {
    .carousel{
        margin-top: 12%;
    }
}
@media screen and (max-width: 460px) {
    .carousel{
        margin-top: 13%;
    }
}
@media screen and (max-width: 420px) {
    .carousel{
        margin-top: 14%;
    }
}
@media screen and (max-width: 320px) {
    .carousel{
        margin-top: 15%;
    }
}