.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

.popular h1 {
    color: #171717;
    font-weight: 600;
    font-size: 36px;
    margin: 10px 0;
}

.popular hr {
    width: 200px;
    height: 4px;
    border-radius: 2px;
    background: #252525;
}

.popular-item {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

@media (min-width: 768px) {
    .popular-item {
        justify-content: space-around;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-right: 20px;
      
        gap: 30px;
    }

    .popular h1 {
        font-size: 40px;
    }

    .popular hr {
        height: 6px;
    }
}



@media (max-width: 500px) {
    .popular-item {
        justify-content: space-around;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 20px;
    
        gap: 30px;

    }

    .popular h1 {
        font-size: 40px;
        padding-top: 90p;
        margin-top: 80px;
    }

    .popular hr {
        height: 6px;
    }

        
}

@media (max-width: 720px) {
    .popular-item {
        justify-content: space-around;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 20px;
     
        gap: 30px;

    }

    .popular h1 {
        font-size: 40px;

    }

    .popular hr {
        height: 6px;
    }

        
}
